* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #E7E7E7;
}

header {
    background-color: #032541;
    padding: 16px 24px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container i {
    color: white;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
